// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap-icons/font/bootstrap-icons';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-superlight{background-color:#cdcdce;}
.tenetfinder{direction:ltr;}
.tenetfinder-header{display:flex;align-items:center;padding:20px;}
.tenetfinder-header-first{margin-left:20px;display:flex;align-items:center;}
.tenetfinder-header-first .tenetfinder-collapse{cursor:pointer;opacity:.6;margin-right:10px;}
.tenetfinder:not(.modal-fullscreen) .tenetfinder-collapse .bi:nth-child(1),.tenetfinder.modal-fullscreen .tenetfinder-collapse .bi:nth-child(2){display:none;}
.tenetfinder-header-search{margin-left:auto;display:flex;align-items:center;}
.tenetfinder-header-search .bi{margin-right:10px;opacity:.6}
.tenetfinder-header-search input{border-radius:4px;background:#0001!important;border:none!important;padding:0 10px;min-width:0;width:150px;color:#000a;}
.tenetfinder-header-controll{display:flex;align-items:center;}
.tenetfinder-header-controll .bi{opacity:.6;line-height:0;cursor:pointer;font-size:30px;}
.tenetfinder-header-controll .bi:before{line-height:0;}
.tenetfinder-header-controll .bi.disabled{opacity:.3;cursor:default;}
.tenetfinder-body{display:flex;align-items:flex-start;overflow-y:auto;flex:1;padding-bottom:10px}
.tenetfinder-outer{position:sticky;min-width:200px;padding:0 10px;}
.tenetfinder-folder span{cursor:pointer;display:flex;align-items:center;border-bottom:1px solid #0002;padding:10px 20px;}
.tenetfinder-folder span b{margin:0 10px}
.tenetfinder-folder span .bi:nth-child(4){margin-left:auto;transform:rotate(90deg);font-size:18px;line-height:0;transition:.2s ease-in;}
.tenetfinder-folder:not(.active) span .bi:nth-child(4){transform:rotate(0deg);}
.tenetfinder-folders .tenetfinder-folder{padding-left:15px;}
.tenetfinder-folders{max-height:1000px;overflow:hidden;transition:.2s ease-in}
.tenetfinder-folder:not(.active) .tenetfinder-folders{max-height:0;}
.tenetfinder-file{position:relative;cursor:pointer;z-index:2;flex:0 0 calc(20% - 10px);margin:5px;display:flex;align-items:center;flex-direction:column;border-radius:5px;background:#eee}
.tenetfinder-file .tenetfinder-file-thumb{padding:10px 0 5px;font-size:30px;line-height:0}
.tenetfinder-file .tenetfinder-file-name{padding:0 5px 5px;color:#333;text-align:center;overflow:hidden;max-height:28px;max-width:85px;}
.tenetfinder-file.active{box-shadow:inset 0 0 0 3px #3490dc}
.tenetfinder-inner-files{flex:1;display:flex;flex-wrap:wrap;align-items:flex-start;width:100%;}
.tenetfinder-inner{min-height:100%;overflow:hidden;display:flex;flex-direction:column;flex:1;background:#fff;border-radius:5px;padding:20px;position:relative;margin-right:10px;}
.tenetfinder-inner-header{position:relative;z-index:2;display:flex;flex-wrap:wrap;background:#eee;width:calc(100% + 40px);margin:-20px -20px 20px;padding:15px 20px;}
.tenetfinder-inner-header .btn{cursor:pointer;margin:3px;display:none;}
.tenetfinder-inner-header.file-selected .file-selected,.tenetfinder-inner-header.folder-selected .folder-selected,.tenetfinder-inner-header .default-selected{display:block;}
.tenetfinder-inner-header .non-selected{display:block;}
.tenetfinder-inner-header.file-selected .non-selected,.tenetfinder-inner-header.folder-selected .non-selected{display:none;}
.tenetfinder-inner-header input{display:none;}
.tenetfinder-overflow{position:absolute;top:0;right:0;width:100%;height:100%;}
.tenetfinder-inner.notfound .tenetfinder-overflow:after{content:'Not Found...';display:block;padding:20px;color:#666;}
.tenetfinder-location{margin-left:15px}
.tenetfinder-inmodal{position:absolute;top:-100%;right:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;z-index:13;background:#1129}
.tenetfinder-inmodal-inner{max-width:calc(100% - 20px);border-radius:5px;overflow:hidden;position:relative;z-index:2;background:#fff;padding:15px}
.tenetfinder-inmodal-inner-footer{margin-top:15px}
.tenetfinder-inmodal-1-active .tenetfinder-inmodal-1,.tenetfinder-inmodal-2-active .tenetfinder-inmodal-2,.tenetfinder-inmodal-3-active .tenetfinder-inmodal-3,.tenetfinder-inmodal-4-active .tenetfinder-inmodal-4,.tenetfinder-inmodal-5-active .tenetfinder-inmodal-5,.tenetfinder-inmodal-6-active .tenetfinder-inmodal-6,.tenetfinder-inmodal-7-active .tenetfinder-inmodal-7,.tenetfinder-inmodal-8-active .tenetfinder-inmodal-8,.tenetfinder-inmodal-9-active .tenetfinder-inmodal-9{top:0;}
.tenetfinder-inmodal-close{position:absolute;top:0;right:0;width:100%;height:100%;cursor:pointer;}
.tenetfinder-inmodal-inner-footer .btn:nth-child(1){margin-right:5px;}
.tenetfinder-upload{position:relative;z-index:1;display:flex;flex-direction:column;align-items:center;justify-content:center;cursor:pointer;width:300px;max-width:100%;height:130px;border:2px dashed #666;border-radius:5px;padding:20px;display:flex;align-items:center;justify-content:center;text-align:center;}
.tenetfinder-upload input{cursor:pointer;opacity:0;width:100%;height:100%;position:absolute;top:0;right:0;z-index:2;}
.tenetfinder-upload .bi{font-size:25px;opacity:.8}
.tenetfinder-upload.uploading{animation:1s uploading infinite;pointer-events:none;}
.tenetfinder-upload.error{border-color:#c44;color:#c44;}
.tenetfinder-upload.success{border-color:#176114;color:#176114;pointer-events:none;}
.tenetfinder-upload span{display:none;}
.tenetfinder-upload.uploading span.tenetfinder-upload-result-uploading{display:block;}
.tenetfinder-upload.error span.tenetfinder-upload-result-error{display:block;}
.tenetfinder-upload.success span.tenetfinder-upload-result-success{display:block;}
.tenetfinder-upload:not(.error):not(.uploading):not(.success) span.tenetfinder-upload-result-default{display:block;}
@keyframes uploading{50%{border-color:#ccc}}